.how-it-works {
    margin: 0 auto;
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.how-it-works-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.how-it-works-title {
    color: var(--color-black);
}

.how-it-works-item {
    max-width: 280px;
    display: flex;
    flex-direction: column;
}

.how-it-works-icon {
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
    pointer-events: none;
    user-select: none;
}

.how-it-works-features {
    display: flex;
    gap: 32px;
}

.how-it-works-description {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-black);
}

.how-it-works-subtext {
    color: var(--color-dark-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.how-it-works-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.how-it-works-bottom-right {
    flex: 50%;
    align-self: center;
}

.how-it-works-bottom-right img {
    width:max-content;
}

.how-it-works-bottom-left {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
}

.how-it-works-bottom-left .title {
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--color-black);
}

.how-it-works-bottom-left .subtext {
    color: var(--color-dark-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.how-it-works-bottom-left .subtext:not(:last-child) {
    margin-bottom: 30px;
}

@media (max-width: 978px) {
    .how-it-works-bottom-left .title {
        font-size: 20px;
        line-height: 1.2;
    }
}

@media (max-width: 940px) {
    .how-it-works-features {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .how-it-works-item {
        max-width: 350px;
    }
}

@media (max-width: 772px) {
    .how-it-works {
        padding: 56px 0;
    }

    .how-it-works-top {
        gap: 50px;
    }

    .how-it-works-item {
        flex-direction: row;
        gap: 16px;
        max-width: 320px;
    }

    .how-it-works-icon img {
        max-width: 55px;
    }

    .how-it-works-bottom {
        margin-top: 56px;
    }

    .how-it-works-bottom-left {
        padding: 15px 0;
        max-width: 350px;
    }

    .how-it-works-bottom-right {
        max-width: 350px;
    }

    .how-it-works-bottom-left .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }

    .how-it-works-bottom-left .subtext {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        line-height: 1.75;
    }
}

@media (max-width: 748px) {
    .how-it-works-bottom {
        flex-direction: column-reverse;
    }

    .how-it-works-bottom-left {
        max-width: 100%;
        text-align: center;
    }

    .how-it-works-bottom-right {
        min-width: 100%;
    }
}

@media (max-width: 712px) {
    .how-it-works-item {
        max-width: 100%;
        flex: 100%;
    }
}

@media (max-width: 460px) {
    .how-it-works-title h2 {
        font-size: 24px;
        line-height: 1.33;
    }
}
